.primary {
    background-color: #1576d1;
}

.warning {
    background-color: #c49240;
}

.danger {
    background-color: #c44040;
}

.primaryDark {
    background-color: #4a5661;
}

.primarySoft {
    background-color: #84aed6;
}