.h_thead {
    font-size: 11px !important;
    font-weight: bold;
    color: white;
    /* color: #d3d3d3; */
}

.h_body {
    font-size: 12px;
    font-weight: 510;
    color: #636363;
}

.badge {
    display: inline-block;
    padding: 2px 8px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 8px;
    /* kecil juga biar selaras */
    line-height: 1.2;
}

.badge.ok {
    background: #d1fae5;
    /* hijau muda */
    color: #065f46;
    /* hijau tua */
}

.badge.warn {
    background: #fff7d6;
    /* kuning muda */
    color: #92400e;
    /* coklat tua */
}

.badge.danger {
    background: #fee2e2;
    /* merah muda */
    color: #991b1b;
    /* merah tua */
}

.shaddowText {
    text-shadow: 1px 1px 1px #00000077;
}



.inputText {
    font-size: 10px;
}