.singlePage {
    display: flex;
    background-color: red;
    flex: 1;
    height: 100%;
    background-image: url("../img/bg.png");
    background-size: cover;
}


.cardx {
    /* margin-top: -25px; */
    flex: 1;
    /* border-style: solid;
    border-width: 2;
    border-color: #c7c7c7; */
    padding-top: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.cardxHeader {
    background-color: #6699d3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 1%;
}

.cardxBody {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.settingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullWidth {
    width: 100%;
}

.shaddow1 {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.292);
}

.shaddow2 {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.292);
}

.width150 {
    width: 150px;
}

.center {
    /* display: flex; */
    /* align-items: center; */
    text-align: center !important;
}

.paginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerModalLeft {
    display: flex;
    flex: 1;
}

.headerModalRight {
    display: flex;
    flex: 1;
    justify-content: end;
}